<h1>Link-to Helper</h1>
{{link-to 'with autoTag' 'index'}}

<h1>Input Helper</h1>
{{input value='default with autoTag'}}

<h1>Textarea Helper</h1>
with autoTag: {{textarea}}

<h1>Custom Component</h1>
autoTagged! {{data-test}}
