<h1>Link-to Helper</h1>
{{link-to 'Home' 'index' data-test-id='hello'}}

<h1>Input Helper</h1>
{{input data-test-class='this-is-an-input'}}

<h1>Textarea Helper</h1>
{{textarea data-test-id='text-area-1'}}

<h1 data-test-id='manual-tagging'>Manual tagging</h1>
