<h1>Overriding and Adding Custom data-test attributes to Components</h1>
<p>
  You can easily override autoTagging or add custom data-test attributes to any
  component by simply adding a tag. The tag is the camelcase of dataTest + your
  suffix (inserted via config/environment file) OR the dasherized version of the
  same thing.
</p>
{{input data-test='dasherized-override' value='overridden'}}

with override: {{textarea dataTest='camelcased-override'}}

{{data-test data-test-id='dasherized-suffix-override' tagName='p'}}

{{data-test dataTestId='camelcased-suffix-override'}}
